<!DOCTYPE html>

<html>
    <head>
        <title>Todo</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Real Time Todo App</h1>

        <ul>
        <% todoList.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <span> <%= todo %></span>
            </li>
        <% }); %>
        </ul>

        <form id="addTodo" action="/todo/add/" method="post">
            <p>
                <label for="newTodo">Add a item</label>
                <input 
                    type="text" 
                    name="newTodo" 
                    id="newTodo" 
                    autofocus 
                    required
                />
                <input type="submit" />
            </p>
        </form>

        <!-- Script at the bottom -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            // wrote in ES5, 
            // there haven't webpack, babel or others like
            // But we have jQuery ;)
            var socket = io();
            var form = $('form#addTodo')
            var userName;

            // On connect, send pseudo to server
            while (!userName) {
                userName = prompt('Please, type a pseudo');
            }
            
            if (userName) {
                socket.emit('new_user', userName);

                // When new user joins the app
                socket.on('has_new_user', name => {
                    console.log('New user connected named: ' + name)
                });

                // On form submit send new todo
                form.submit(function(event) {
                    event.preventDefault();
                    const input = $(this).find('#newTodo');
                    const todo = input.val();

                    socket.emit('new_todo', todo);
                    
                    console.log('submit', todo);

                    $(this).unbind('submit').submit()
                });

            }

            
            

            // todo : update new todo in this client manually 
        </script>
    </body>
</html>